@page "/RandomVehicleBody"
@using SpenSoft.DanBeamNG.Components

<div class="col high-600 wide400">
    <div class="py-2">
        <h2 class="text-center ">Random Vehicle Selection</h2>
        <h4 class="text-center ">by Body Style</h4>
    </div>


    <div class="random-card-select py-1">
        <div class="row">
            <div class="wide40p">Select Body Style</div>
            <div class="wide60p">
                <InputSelect id="activity-bodySelect" class="wide100p"
                             ValueChanged="@((Guid? x) => WhenValueChanges(x))"
                             ValueExpression="@(() => SelectedBody)"
                             Value="@SelectedBody">
                    <option value="@Guid.Empty"></option>
                    @if ((BodyStyles_List != null) && (BodyStyles_List.Count > 0))
                    {
                        foreach (var c in BodyStyles_List)
                        {
                            <option value="@c.ID">@c.Name</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>
        <div>
            @if (ConfigurationCount > 0)
            {
                <div class="sFont td-center">
                    @($"Number of Configurations: {ConfigurationCount}")
                </div>
            }
        </div>
    </div>

    @if ((SelectedBody != null) && (SelectedBody != Guid.Empty))
    {
        <div class="wide400">
            <RenderComponent>
                <RandomBodyCard VehicleName="@VehicleName" ConfigurationName="@ConfigurationName" BodyStyleName="@BodyStyleName"
                                ClassificationName="@ClassificationName" CountryName="@CountryName" DriveTrainName="@DriveTrainName"
                                ImageID="@ConfigurationImageID" />
            </RenderComponent>
        </div>

        <div class="vmargin-10 wide400">
            <center>
                <button type="button" class="btn btn-primary btn-sm mb-1" @onclick="@GetNext">
                    <i class="fa-solid fa-arrow-circle-right" />
                    Next Random Configuration
                </button>
            </center>
        </div>
    }
</div>
<br />
