@page "/RandomVehicleDrive"
@using SpenSoft.DanBeamNG.Components


<div class="col high-600 wide400">
    <div class="py-2">
        <h2 class="text-center ">Random Vehicle Selection</h2>
        <h4 class="text-center ">by Drive Train</h4>
    </div>


    <div class="random-card-select py-1">
        <div class="row">
            <Input_Select InputWidth="50%" LabelWidth="50%" ValueList="DriveTrains"
                          Label="Body Style" Placeholder="Select Body Style"
                          BindingProperty="SelectedDrive" StatusCodeCallback="WhenValueChanges" />
        </div>
        <div>
            @if (ConfigurationCount > 0)
            {
                <div class="sFont td-center">
                    @($"Number of Configurations: {ConfigurationCount}")
                </div>
            }
        </div>
    </div>

    @if ((SelectedDrive != null) && (SelectedDrive != Guid.Empty))
    {
        <div class="wide400 mt-3">
            <RenderComponent>
                <RandomDriveCard VehicleName="@VehicleName" ConfigurationName="@ConfigurationName" BodyStyleName="@BodyStyleName"
                                 ClassificationName="@ClassificationName" CountryName="@CountryName" DriveTrainName="@DriveTrainName"
                                 ImageID="@ConfigurationImageID" />
            </RenderComponent>
        </div>

        <div class="vmargin-10 wide400">
            <center>
                <button type="button" class="btn btn-primary btn-sm mb-1" @onclick="@GetNext">
                    <i class="fa-solid fa-arrow-circle-right" />
                    Next Random Configuration
                </button>
            </center>
        </div>
    }
</div>
<br />
