@page "/ListDriveTrain"
@using Microsoft.AspNetCore.Components.Web.Virtualization

<h1 class="page-title text-center">List All Drive Trains</h1>
<br />

@if ((driveTrainList == null) && (Error == false))
{
    <p><em>Loading...</em></p>
}
else if ((driveTrainList == null) && (Error == true))
{
    <div class="alert @StatusClass">
        @Message1
        <br />
        @Message2
    </div>
}
else
{
    <a href="@($"AddDriveTrain")" class="btn btn-success btn-sm"><i class="fa-solid fa-plus" /> Add Drive Train</a>
    <br />
    <br />
    <div class="tableFixHead">
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="driveTrainList" ItemSize="itemHeight" Context="v">
                    <ItemContent>
                        <tr @key="v.ID">
                            <th></th>
                            <th>@v.ID</th>
                            <th>@v.Name</th>
                            <th>
                                <a href="@($"ViewDriveTrain/{v.ID}")" class="btn btn-primary btn-sm" title="Inspect this vehicle">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                                <a href="@($"EditDriveTrain/{v.ID}")" class="btn btn-primary btn-sm" title="Edit this vehicle">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a href="@($"DeleteDriveTrain/{v.ID}")" class="btn btn-danger btn-sm" title="Delete this vehicle">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </th>
                        </tr>
                    </ItemContent>
                </Virtualize>
            </tbody>
        </table>
    </div>
}
<br />
