@page "/AddImage"

@if (Saved == true)
{
    <section>
        <h1 class="page-title">Adding a new Vehicle Image</h1>

        @if (vehicleImage != null)
        {
            <EditForm Model="@vehicleImage" OnValidSubmit="ValidSumitHandler" OnInvalidSubmit="InvalidSubmitHandler">
                <DataAnnotationsValidator />
                <ValidationSummary></ValidationSummary>

@*                 <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label">Vehicle Image ID</label>
                    <div class="col-sm-8">
                        @if (vehicleImage != null)
                        {
                            <label type="text" class="form-control-plaintext">@vehicleImage.ImageID</label>
                        }
                    </div>
                </div>
 
                 <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        @if (vehicleImage != null)
                        {
                            <InputText class="form-control col-sm-8" @bind-Value="@vehicleImage.ImageName" placeholder="Enter Image Name"></InputText>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => vehicleImage.ImageName)" />
                        }
                    </div>
                </div>
 *@
                <div class="form-group row mb-2">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        @if (vehicleImage != null)
                        {
                            <InputFile class="form-control col-sm-8" OnChange="@UploadFile" />
                            @* <InputFile class="form-control col-sm-8" OnChange="@UploadFile" disabled="@isDisabled"></InputFile> *@
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => vehicleImage.ImageName)" />
                        }
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa fa-floppy-o" /> Save</button>
                </div>

            </EditForm>
        }
    </section>
}
else
{
    <div class="alert @StatusClass">
        @Message
    </div>
}

<hr />

<a href="@("ListImages")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Return to List</a>
<a href="/" class="btn btn-primary btn-sm"><i class="fa-solid fa-home"></i> Home</a>
