@using Microsoft.AspNetCore.Components.Web.Virtualization
@using SpenSoft.DanBeamNG.Components
@page "/ListCountries"

<h1 class="page-title text-center">List All Countries</h1>
<br />

@if ((CountryList == null) && (Error == false))
{
    <p><em>Loading...</em></p>
}
else if ((CountryList == null) && (Error == true))
{
    <div class="alert @StatusClass">
        @Message1
        <br />
        @Message2
    </div>
}
else
{
    <a href="@($"AddCountry")" class="btn btn-success btn-sm"><i class="fa-solid fa-plus" /> Add Country</a>
    <br />
    <br />

    <div class="row">
        @foreach (var v in CountryList)
        {
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <RenderComponent><Country_Card Country="@v" Country_Delegate="Delete_Country_Handler" /></RenderComponent>
            </div>
        }
    </div>
@* 
    <div class="tableFixHead">
        <table class="table" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="CountryList" ItemSize="itemHeight" Context="v">
                    <ItemContent>
                        <tr @key="v.ID">
                            <th></th>
                            <th>@v.ID</th>
                            <th>@v.Name</th>
                            <th>
                                <a href="@($"ViewCountry/{v.ID}")" class="btn btn-primary btn-sm" title="Inspect this vehicle">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                                <a href="@($"EditCountry/{v.ID}")" class="btn btn-primary btn-sm" title="Edit this vehicle">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                <a href="@($"DeleteCountry/{v.ID}")" class="btn btn-danger btn-sm" title="Delete this vehicle">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </th>
                        </tr>
                    </ItemContent>
                </Virtualize>
            </tbody>
        </table>
    </div>
*@
}
<br />
