@page "/EditCountry/{ID}"

@if (Saved == true)
{
    <section>
        <h1 class="page-title  text-center">Edit a Country</h1>
        <br />
        <br />

        @if (country != null)
        {
            <EditForm Model="@country" OnValidSubmit="ValidSumitHandler" OnInvalidSubmit="InvalidSubmitHandler">
                <DataAnnotationsValidator />
                <ValidationSummary></ValidationSummary>

                <div class="form-group row mb-2">
                    <label class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-8">
                        @if (country != null)
                        {
                            <InputText class="form-control col-sm-8" @bind-Value="@country.Name" placeholder="Enter Country Name"></InputText>
                            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => country.Name)" />
                        }
                    </div>
                </div>


                <div>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa fa-floppy-o" /> Save</button>
                </div>

            </EditForm>
        }
    </section>
}
else
{
    <div class="alert @StatusClass">
        @Message
    </div>
}

<hr />

<a href="@("ListCountries")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Return to List</a>
<a href="/" class="btn btn-primary btn-sm"><i class="fa-solid fa-home"></i> Home</a>
<br />
