@page "/ViewConfiguration/{ID}"
@using SpenSoft.DanBeamNG.Components

@if (Vehicle != null)
{
    <h1 class="page-title text-center">Viewing Vehicle: @Vehicle.Name </h1>
    <div class="text-center">Configuration View</div>
}

<div class="wide400 horiz-center">
    <ConfigurationCard body="@BodyStyleName(Configuration?.BodyStyleID)" cls="@ClassificationsName(Configuration?.ClassificationID)"
                       country="@CountriesName(Configuration?.CountryID)" drive="@DriveTrainName(Configuration?.DriveTrainID)"
                       config="@Configuration" AllowEdit=false />
</div>

<hr />

<div class="m-b-sm">
    <center>
        @if (Configuration != null)
        {
            <a href="@($"EditConfiguration/{Configuration.ID}")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pencil" /> Edit</a>
            <a href="@($"EditVehicle/{Configuration.VehicleID}")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Return to Vechicle</a>
        }
        <a href="@("ListVehicle")" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-rotate-left" /> Return to Vehicle List</a>
        <a href="/" class="btn btn-primary btn-sm"><i class="fa-solid fa-home"></i> Home</a>
    </center>
</div>
<br />
<center>
    <div class="m-t-sm">
        <a class="btn btn-primary btn-sm me-2" onclick="@GetPrevConfiguration"><i class="fa-solid fa-arrow-circle-left" /> Previous Configuration </a>
        <a class="btn btn-primary btn-sm" onclick="@GetNextConfiguration"><i class="fa-solid fa-arrow-circle-right" /> Next Configuration </a>

    </div>
</center>
<br />
